body{
    background-color: #f0f1ea;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header{
    background-color: #3fa744;
    height: 45px;
    position: sticky;
    top: 0;
    z-index: 1;
}

nav ul{
    color: #ffffff;
    text-transform: uppercase;
    margin: 20px;
    text-align: right;
    letter-spacing: 1px;
}

nav li{
    list-style-type: none;
    display: inline-block;
    margin-left: 5px;
    margin-top: 11px;
    padding: 5px;
}

section{
    margin: 25px;
    padding-top: 10px;
}

article{
    width: 500px;
}

h2{
    text-align: center;
}

button{
    border-radius: 8px;
    border: 70px;
    background-color: #3fa744;
}

button a{
    padding: 3px;
    margin: 2px;
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}

button:hover{
    background-color: #0d520b;
}

.video1{
    padding-top: 25px;
    margin-left: 80px;
    margin-top: 20px;
}

.principal{
    position: absolute;
    left: 669px;
    top: 525px;
    width: 570px;
    height: 340px;
}

.metas{
    padding: 5px;
    margin-top: 80px;
    margin-left: 45px;
    text-align: center;
}

.solucoes{
    padding: 5px;
    position: absolute;
    left: 698px;
    top: 1020px;
}

.mortalidade{
    margin-top: 80px;
}

.titulo{
    background-color: #3fa744;
    color: white;
    padding: 7px;
    letter-spacing: 1px;
}